In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm, tqdm_notebook
import nltk
from nltk.corpus import stopwords

In [3]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/pogus-
[nltk_data]     mac/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
articles = pd.read_csv('articles.csv')
articles.head(10)

,title,author_id,last_updated,link,category
0,5 Best Practices For Writing SQL Joins,priyankab14,"21 Feb, 2022",https://www.geeksforgeeks.org/5-best-practices...,easy
1,Foundation CSS Dropdown Menu,ishankhandelwals,"20 Feb, 2022",https://www.geeksforgeeks.org/foundation-css-d...,easy
2,Top 20 Excel Shortcuts That You Need To Know,priyankab14,"17 Feb, 2022",https://www.geeksforgeeks.org/top-20-excel-sho...,easy
3,Servlet – Fetching Result,nishatiwari1719,"17 Feb, 2022",https://www.geeksforgeeks.org/servlet-fetching...,easy
4,Suffix Sum Array,rohit768,"21 Feb, 2022",https://www.geeksforgeeks.org/suffix-sum-array/,easy
5,Kelvin To Celsius Formula,ramneek2307,"16 Feb, 2022",https://www.geeksforgeeks.org/kelvin-to-celsiu...,easy
6,How to Install MongoDB for VSCode?,ramneek2307,"12 Feb, 2022",https://www.geeksforgeeks.org/how-to-install-m...,easy
7,7 Highest Paying Programming Languages For Fre...,vanshika4042,"18 Feb, 2022",https://www.geeksforgeeks.org/7-highest-paying...,easy
8,Free Resume Builder By GeeksforGeeks – Create ...,GeeksforGeeks,"08 Feb, 2022",https://www.geeksforgeeks.org/free-resume-buil...,easy
9,8 Best Tips to Improve Your JavaScript Skills,prateekjangid10,"06 Feb, 2022",https://www.geeksforgeeks.org/8-best-tips-to-i...,easy

In [3]:
select_articles = articles[['title',	'author_id']]
select_articles.head(10)

                                               title         author_id
0             5 Best Practices For Writing SQL Joins       priyankab14
1                       Foundation CSS Dropdown Menu  ishankhandelwals
2       Top 20 Excel Shortcuts That You Need To Know       priyankab14
3                          Servlet – Fetching Result   nishatiwari1719
4                                   Suffix Sum Array          rohit768
5                          Kelvin To Celsius Formula       ramneek2307
6                 How to Install MongoDB for VSCode?       ramneek2307
7  7 Highest Paying Programming Languages For Fre...      vanshika4042
8  Free Resume Builder By GeeksforGeeks – Create ...     GeeksforGeeks
9      8 Best Tips to Improve Your JavaScript Skills   prateekjangid10

In [4]:
def extract_word(df:pd.core.frame.DataFrame):
    word_list = set()
    for row in range(len(df)):
        words = df.loc[row, "title"].split(' ')
        
        for word in words:
            word = word.lower()
            word_list.add(word)
    
    return list(word_list)

In [167]:
def data_embeding(text:str, word_list:list[str]=all_words):
    text = text.lower()
    text_list = text.split(' ')
    bow = np.zeros(len(word_list))
    for index, word in enumerate(word_list):
        if word in text_list and word not in stopwords.words('english'):
            bow[index] += 1
    return bow

In [168]:
all_words = extract_word(select_articles)

In [169]:
data_embeding('5 Best Practices For Writing SQL Joins', all_words).sum()

6.0

In [170]:
tqdm.pandas(desc="Embeding")

In [171]:
select_articles['embedding'] = select_articles['title'].progress_apply(lambda x: data_embeding(x, all_words))

Embeding: 100%|██████████| 34574/34574 [00:42<00:00, 808.11it/s]
/var/folders/4n/0k9v2lsj56ng0ks9yr1s471h0000gn/T/ipykernel_13448/1830604628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_articles['embedding'] = select_articles['title'].progress_apply(lambda x: data_embeding(x, all_words))

In [172]:
select_articles

,title,author_id,embedding,similarity
0,5 Best Practices For Writing SQL Joins,priyankab14,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
1,Foundation CSS Dropdown Menu,ishankhandelwals,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
2,Top 20 Excel Shortcuts That You Need To Know,priyankab14,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
3,Servlet – Fetching Result,nishatiwari1719,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
4,Suffix Sum Array,rohit768,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
...,...,...,...,...
34569,Data Structures | Queue | Question 11,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
34570,Data Structures | Binary Trees | Question 1,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
34571,Amazon Interview | Set 9,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
34572,Python Program for Rat in a Maze | Backtracking-2,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
34573,Data Structures and Algorithms | Set 21,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0

In [173]:
def cosine_similarity(a, b):
    return np.dot(a, b) / (np.dot(a, a)) ** 0.5 * (np.dot(b, b)) ** 0.5

In [202]:
text_input = 'How to generate byte code'

In [203]:
text_input = data_embeding(text_input)

In [204]:
select_articles["similarity"] = select_articles["embedding"].progress_apply(lambda x: cosine_similarity(text_input, x))

Embeding: 100%|██████████| 34574/34574 [00:02<00:00, 15799.53it/s]
/var/folders/4n/0k9v2lsj56ng0ks9yr1s471h0000gn/T/ipykernel_13448/2365810155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_articles["similarity"] = select_articles["embedding"].progress_apply(lambda x: cosine_similarity(text_input, x))

In [205]:
results = select_articles.sort_values('similarity', ascending=False).head(10).reset_index()

In [206]:
results.head(10)

,index,title,author_id,embedding,similarity
0,6420,How to generate byte code file in python ?,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",4.242641
1,23375,Python | Generate QR Code using pyqrcode module,sahil_rajput,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",3.265986
2,31850,Code to generate the map of India (with explan...,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.828427
3,28923,Generate QR code using AngularJS,mukulbindal170299,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.581989
4,11127,Difference Between Source Code and Byte Code,Satyabrata_Jena,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.309401
5,11156,Difference between Byte Code and Machine Code,Satyabrata_Jena,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.309401
6,26599,Aashish Barnwal – Geek on the top | Make a hab...,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.160247
7,31826,Ayush Jaggi – Geek on the top | Get frustrated...,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.160247
8,428,Generate a sequence with product N such that f...,tier10coder,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.160247
9,31556,Understanding ShellExecute function and it’s a...,GeeksforGeeks,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",2.081666

In [207]:
for idx, result in enumerate(results['title']):
    print(result, "[similarity]:", results['similarity'][idx])

How to generate byte code file in python ? [similarity]: 4.242640687119285
Python | Generate QR Code using pyqrcode module [similarity]: 3.2659863237109046
Code to generate the map of India (with explanation) [similarity]: 2.8284271247461903
Generate QR code using AngularJS [similarity]: 2.5819888974716116
Difference Between Source Code and Byte Code [similarity]: 2.3094010767585034
Difference between Byte Code and Machine Code [similarity]: 2.3094010767585034
Aashish Barnwal – Geek on the top | Make a habit of writing clean, readable, flexible and robust code [similarity]: 2.160246899469287
Ayush Jaggi – Geek on the top | Get frustrated by TLEs and WAs, Higher the frustration – better the code [similarity]: 2.160246899469287
Generate a sequence with product N such that for every pair of indices (i, j) and i < j, arr[j] is divisible by arr[i] [similarity]: 2.160246899469287
Understanding ShellExecute function and it’s application to open a list of URLs present in a file using C++ code [similarity]: 2.081665999466133

In [208]:
len(stopwords.words('english'))

179

In [5]:
import requests

In [6]:
ngrok_url = "https://df42-34-83-169-196.ngrok-free.app"  # Replace with your actual Ngrok URL

input_text = "วันนี้ฉันจะมานำเสนอของที่มีชื่อว่า โบแมน เสื้อตัวนี้เป็นเสื้อเชิ้ตเส้นเดียวเปิดหลัง จำนวน 3 จำนวน ชิ้นละประมาณ 150 บาท ซื้อ 5 ตัว แถม 1 ชิ้น และยังแถมมีประเป่าขนาด 50*50 ที่สามารถบันจุน้ำหนักได้ 40 น้ำหนัก"

# Send request to /generate-typhoon-response
response_typhoon = requests.post(f"{ngrok_url}/generate-typhoon-response", json={"input_text": input_text})
if response_typhoon.status_code == 200:
    result_typhoon = response_typhoon.json()
    print("Typhoon Response:", result_typhoon)
else:
    print("Typhoon Error:", response_typhoon.status_code, response_typhoon.text)

# Send request to /generate-openthaigpt-response
response_openthaigpt = requests.post(f"{ngrok_url}/generate-openthaigpt-response", json={"input_text": input_text})
if response_openthaigpt.status_code == 200:
    result_openthaigpt = response_openthaigpt.json()
    print("Openthaigpt Response:", result_openthaigpt)
else:
    print("Openthaigpt Error:", response_openthaigpt.status_code, response_openthaigpt.text)

Typhoon Error: 404 <!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Regular-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-RegularItalic-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Medium-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Semibold-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-MediumItalic-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-Text.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-TextItalic.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBoldItalic.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <meta charset="utf-8">
    <meta name="author" content="ngrok">
    <meta name="description" content="ngrok is the fastest way to put anything on the internet with a single command.">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="style" rel="stylesheet" href="https://cdn.ngrok.com/static/css/error.css">
    <noscript>Tunnel df42-34-83-169-196.ngrok-free.app not found (ERR_NGROK_3200)</noscript>
    <script id="script" src="https://cdn.ngrok.com/static/js/error.js" type="text/javascript"></script>
  </head>
  <body id="ngrok">
    <div id="root" data-payload="eyJjZG5CYXNlIjoiaHR0cHM6Ly9jZG4ubmdyb2suY29tLyIsImNvZGUiOiIzMjAwIiwibWVzc2FnZSI6IlR1bm5lbCBkZjQyLTM0LTgzLTE2OS0xOTYubmdyb2stZnJlZS5hcHAgbm90IGZvdW5kIiwidGl0bGUiOiJOb3QgRm91bmQifQ=="></div>
  </body>
</html>

Openthaigpt Error: 404 <!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Regular-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-RegularItalic-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Medium-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-Semibold-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/euclid-square/EuclidSquare-MediumItalic-WebS.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-Text.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-TextItalic.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <link rel="preload" href="https://cdn.ngrok.com/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBoldItalic.woff" as="font" type="font/woff" crossorigin="anonymous" />
    <meta charset="utf-8">
    <meta name="author" content="ngrok">
    <meta name="description" content="ngrok is the fastest way to put anything on the internet with a single command.">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="style" rel="stylesheet" href="https://cdn.ngrok.com/static/css/error.css">
    <noscript>Tunnel df42-34-83-169-196.ngrok-free.app not found (ERR_NGROK_3200)</noscript>
    <script id="script" src="https://cdn.ngrok.com/static/js/error.js" type="text/javascript"></script>
  </head>
  <body id="ngrok">
    <div id="root" data-payload="eyJjZG5CYXNlIjoiaHR0cHM6Ly9jZG4ubmdyb2suY29tLyIsImNvZGUiOiIzMjAwIiwibWVzc2FnZSI6IlR1bm5lbCBkZjQyLTM0LTgzLTE2OS0xOTYubmdyb2stZnJlZS5hcHAgbm90IGZvdW5kIiwidGl0bGUiOiJOb3QgRm91bmQifQ=="></div>
  </body>
</html>