In [1]:
%pip install -Uq pip pandas numpy tqdm nltk Pylance

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
tqdm.pandas()

/Users/pogus-mac/Library/CloudStorage/GoogleDrive-gusjangkid@gmail.com/My Drive/Project-VScode/DevCommu-Tutoring-Pogus/information retrieval/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
[nltk_data] Downloading package stopwords to /Users/pogus-
[nltk_data]     mac/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
data = pd.read_csv("data/articles.csv")
data = data.drop(list(data.columns)[2:], axis=1)
data.head()

                                          title         author_id
0        5 Best Practices For Writing SQL Joins       priyankab14
1                  Foundation CSS Dropdown Menu  ishankhandelwals
2  Top 20 Excel Shortcuts That You Need To Know       priyankab14
3                     Servlet – Fetching Result   nishatiwari1719
4                              Suffix Sum Array          rohit768

In [4]:
all_doc: list[str] = []
data['remove_stopwords'] = ''
data['remove_duplicate'] = ''

for i in tqdm(range(len(data))):
    words: list[str] = data["title"][i].lower().split(" ")  # define variable
    author: list[str] = str(data["author_id"][i]).lower()
    no_stopwords = [word for word in words if word not in stopwords.words('english')]
    no_stopwords.append(author)
    no_stopwords = sorted(no_stopwords)
    all_doc.append(no_stopwords)
    data.at[i, 'remove_stopwords'] = list(sorted(set(no_stopwords))) # no dup
    data.at[i, 'remove_duplicate'] = no_stopwords
        
# all_words = list(set(all_doc))
# # remove stopwords
# all_words = [word for word in all_words if word not in stopwords.words('english')]
# print("containing", len(all_words), "unique words")

100%|██████████| 34574/34574 [00:12<00:00, 2672.97it/s]

In [5]:
all_doc[:5]

[['5', 'best', 'joins', 'practices', 'priyankab14', 'sql', 'writing'],
 ['css', 'dropdown', 'foundation', 'ishankhandelwals', 'menu'],
 ['20', 'excel', 'know', 'need', 'priyankab14', 'shortcuts', 'top'],
 ['fetching', 'nishatiwari1719', 'result', 'servlet', '–'],
 ['array', 'rohit768', 'suffix', 'sum']]

In [6]:
data

,title,author_id,remove_stopwords,remove_duplicate
0,5 Best Practices For Writing SQL Joins,priyankab14,"[5, best, joins, practices, priyankab14, sql, ...","[5, best, joins, practices, priyankab14, sql, ..."
1,Foundation CSS Dropdown Menu,ishankhandelwals,"[css, dropdown, foundation, ishankhandelwals, ...","[css, dropdown, foundation, ishankhandelwals, ..."
2,Top 20 Excel Shortcuts That You Need To Know,priyankab14,"[20, excel, know, need, priyankab14, shortcuts...","[20, excel, know, need, priyankab14, shortcuts..."
3,Servlet – Fetching Result,nishatiwari1719,"[fetching, nishatiwari1719, result, servlet, –]","[fetching, nishatiwari1719, result, servlet, –]"
4,Suffix Sum Array,rohit768,"[array, rohit768, suffix, sum]","[array, rohit768, suffix, sum]"
...,...,...,...,...
34569,Data Structures | Queue | Question 11,GeeksforGeeks,"[11, data, geeksforgeeks, question, queue, str...","[11, data, geeksforgeeks, question, queue, str..."
34570,Data Structures | Binary Trees | Question 1,GeeksforGeeks,"[1, binary, data, geeksforgeeks, question, str...","[1, binary, data, geeksforgeeks, question, str..."
34571,Amazon Interview | Set 9,GeeksforGeeks,"[9, amazon, geeksforgeeks, interview, set, |]","[9, amazon, geeksforgeeks, interview, set, |]"
34572,Python Program for Rat in a Maze | Backtracking-2,GeeksforGeeks,"[backtracking-2, geeksforgeeks, maze, program,...","[backtracking-2, geeksforgeeks, maze, program,..."
34573,Data Structures and Algorithms | Set 21,GeeksforGeeks,"[21, algorithms, data, geeksforgeeks, set, str...","[21, algorithms, data, geeksforgeeks, set, str..."

In [7]:
def tf(all_words) -> np.array:
    if isinstance(all_words, str):
        word_list = all_words.split(' ')
        bow = np.zeros(len(word_list))
        for word in all_words:
            if word in word_list:
                bow[word_list.index(word)] += 1
            bow[word_list.index(word)] = bow[word_list.index(word)] / len(all_words)
        return bow
    
    if isinstance(all_words, list):
        word_list = all_words
        bow = np.zeros(len(word_list))
        for word in all_words:
            if word in word_list:
                bow[word_list.index(word)] += 1
            bow[word_list.index(word)] = bow[word_list.index(word)] / len(all_words)
        return bow

In [8]:
data['remove_stopwords'][300]

['css', 'difference', 'em', 'rem', 'units', 'user282']

In [9]:
data["tf"] = data["remove_stopwords"].progress_apply(lambda x: tf(x))

100%|██████████| 34574/34574 [00:00<00:00, 252724.57it/s]

In [10]:
data

,title,author_id,remove_stopwords,remove_duplicate,tf
0,5 Best Practices For Writing SQL Joins,priyankab14,"[5, best, joins, practices, priyankab14, sql, ...","[5, best, joins, practices, priyankab14, sql, ...","[0.14285714285714285, 0.14285714285714285, 0.1..."
1,Foundation CSS Dropdown Menu,ishankhandelwals,"[css, dropdown, foundation, ishankhandelwals, ...","[css, dropdown, foundation, ishankhandelwals, ...","[0.2, 0.2, 0.2, 0.2, 0.2]"
2,Top 20 Excel Shortcuts That You Need To Know,priyankab14,"[20, excel, know, need, priyankab14, shortcuts...","[20, excel, know, need, priyankab14, shortcuts...","[0.14285714285714285, 0.14285714285714285, 0.1..."
3,Servlet – Fetching Result,nishatiwari1719,"[fetching, nishatiwari1719, result, servlet, –]","[fetching, nishatiwari1719, result, servlet, –]","[0.2, 0.2, 0.2, 0.2, 0.2]"
4,Suffix Sum Array,rohit768,"[array, rohit768, suffix, sum]","[array, rohit768, suffix, sum]","[0.25, 0.25, 0.25, 0.25]"
...,...,...,...,...,...
34569,Data Structures | Queue | Question 11,GeeksforGeeks,"[11, data, geeksforgeeks, question, queue, str...","[11, data, geeksforgeeks, question, queue, str...","[0.14285714285714285, 0.14285714285714285, 0.1..."
34570,Data Structures | Binary Trees | Question 1,GeeksforGeeks,"[1, binary, data, geeksforgeeks, question, str...","[1, binary, data, geeksforgeeks, question, str...","[0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.1..."
34571,Amazon Interview | Set 9,GeeksforGeeks,"[9, amazon, geeksforgeeks, interview, set, |]","[9, amazon, geeksforgeeks, interview, set, |]","[0.16666666666666666, 0.16666666666666666, 0.1..."
34572,Python Program for Rat in a Maze | Backtracking-2,GeeksforGeeks,"[backtracking-2, geeksforgeeks, maze, program,...","[backtracking-2, geeksforgeeks, maze, program,...","[0.14285714285714285, 0.14285714285714285, 0.1..."
34573,Data Structures and Algorithms | Set 21,GeeksforGeeks,"[21, algorithms, data, geeksforgeeks, set, str...","[21, algorithms, data, geeksforgeeks, set, str...","[0.14285714285714285, 0.14285714285714285, 0.1..."

In [11]:
def idf(all_words: list[str]) -> pd.DataFrame:
    df_dict = {}
    idf_dict = {}

    for sublist in all_words:
        for item in sublist:
            df_dict[item] = 0
            idf_dict[item] = 0
            
    for key in tqdm(df_dict):
        for sublist in all_words:
            if key in sublist:
                df_dict[key] += 1
                
        if df_dict[key] > 0:
            idf_dict[key] = np.log((1+len(all_words))/(1+df_dict[key]))+1
    
    df1 = pd.DataFrame(list(df_dict.items()), columns=['value', 'df'])
    df2 = pd.DataFrame(list(idf_dict.items()), columns=['value', 'idf'])

    result = pd.merge(df1, df2, on='value')
    
    return result

In [12]:
j = [['5', 'best', 'joins', 'practices', 'priyankab14', 'sql', 'writing'],
 ['css', 'dropdown', '5', 'ishankhandelwals', 'menu'],
 ['20', 'excel', 'know', 'need', 'priyankab14', 'shortcuts', 'top'],
 ['fetching', 'nishatiwari1719', 'result', 'servlet', '–']]

In [13]:
data_idf = idf(data['remove_duplicate'])

 65%|██████▍   | 15272/23558 [01:02<00:37, 219.40it/s]

In [ ]:
data_idf

In [ ]:
data

In [ ]:
print(data_idf[data_idf['value'] == '5']['idf'])

In [ ]:
len(data['tf'][0])

In [ ]:
data_idf['tf_idf'] = 0

In [ ]:
track_row = 0

for r_idx, row in tqdm(enumerate(data['remove_duplicate'])):
    track_sublist = 0
    for i_idx, item in enumerate(row):
        if track_sublist < len(data['tf'][r_idx]):
            tfidf = data['tf'][r_idx][track_sublist] * (data_idf[data_idf['value'] == item]['idf'])
            data_idf['tf_idf'][track_row] = tfidf
            track_sublist += 1
            track_row += 1

In [ ]:
data_idf

In [ ]:
# for r_idx, row in tqdm(enumerate(data['remove_duplicate'])):
#     count = 0
#     for i_idx, item in enumerate(row):
#         if count < len(data['tf'][r_idx]):
#             tfidf = data['tf'][r_idx][count] * (data_idf[data_idf['value'] == item]['idf'])
#             data['tfidf'][r_idx] = tfidf
#             count += 1
#             print(tfidf)
#     break

In [ ]:
data

In [ ]:
data_idf.to_csv('data_idf', index=0)
data.to_csv('data', index=0)

In [ ]:
# def cosine_similarity(a:np.array, b:np.array) -> float:
#     return np.dot(a, b) / (np.dot(a,a) **.5) * (np.dot(b,b) ** 0.5)

In [ ]:
# def get_similar_articles(text:int, data:pd.DataFrame=data, n:int=5, encoder=bow_encoder) -> pd.DataFrame:
#     article_embbeding = encoder(text)
#     print("Perform Searching...") 
#     data["similarity"] = data["embbeding"].progress_apply(lambda x: cosine_similarity(article_embbeding, x))
#     return data.sort_values("similarity", ascending=False).head(n).reset_index(drop=True)

In [ ]:
# text = "How to generate byte code"
# results = get_similar_articles(text)
# for idx, result in enumerate(results['title']):
#     print(result, "similarity:", round(results['similarity'][idx], 3))
#     print('-'*50)